<div class="auth-form">
  <h4 class="title text-center">Login</h4>
  <form [formGroup]="form">
    <app-input
      formControlName="email"
      [label]="'Email'"
      [placeholder]="'Type your email'"
      [iconName]="'mail'"
      [control]="email"
      [type]="'email'"
      class="mb-4"
    ></app-input>
    <app-input
      formControlName="password"
      [label]="'Password'"
      [placeholder]="'Type your password'"
      [iconName]="'lock'"
      [type]="'password'"
      [control]="password"
    ></app-input>

    <div class="d-flex justify-content-between mt-2 mb-5">
      <span class="auth-link">Don't have account? <a [routerLink]="'../registration'">Sign Up</a></span>
      <a [routerLink]="'../reset-password'">Forgot password?</a>
    </div>

    <app-auth-submit-button (submit)="onSubmit()">Login</app-auth-submit-button>

    <app-auth-social-icons></app-auth-social-icons>
  </form>
</div>
