<div class="container">
  <div class="row justify-content-center">
    <div class="form-wrapper mt-5 auth-form">
      <h4 class="title text-center mt-2 mb-2">Login</h4>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-field">
          <input id="mail" type="text" formControlName="email" />
          <label for="mail">Email</label>
          <div class="form__error" *ngIf="email?.touched && email?.errors">
            <span *ngIf="email.errors.required">Email is required</span>
            <span *ngIf="email.errors.email">Invalid email</span>
          </div>
        </div>
        <div class="input-field">
          <input id="pass" type="text" formControlName="password" />
          <label for="pass">Password</label>
          <div
            class="form__error"
            *ngIf="password?.touched && password?.errors"
          >
            <span *ngIf="password.errors.required">Password is required</span>
            <span *ngIf="password.errors.minlength"
              >Password should be
              {{ password?.errors?.minlength?.requiredLength }} symbols at
              least. Now {{ password?.errors?.minlength?.actualLength }}</span
            >
            <span *ngIf="password.errors.maxlength"
              >Password should less than
              {{ password?.errors?.maxlength?.requiredLength }} symbols. Now
              {{ password?.errors?.maxlength?.actualLength }}</span
            >
          </div>
        </div>
        <div class="mb-4">
          <a [routerLink]="'../registration'">Register</a> for a new account
        </div>
        <button class="button" type="submit" [disabled]="form?.invalid">
          <a
            class="waves-effect waves-light btn"
            [class.disabled]="form?.invalid"
            >Submit</a
          >
        </button>
      </form>
    </div>
  </div>
</div>
