<header class="header">
  <div class="logo-wrapper">
    <a class="logo" [routerLink]="'/'">
      <mat-icon class="logo__icon" [svgIcon]="'logo'"></mat-icon>
      <span class="logo__text">Impact</span>
    </a>
    <!-- <div class="navbar-header">
      <mat-icon class="navbar-toggle" (click)="toggleMenu.emit()">menu</mat-icon>

      <a class="navbar-brand" [routerLink]="'/'">
        <h1>
          <svg class="icon icon--logo">
            <use xlink:href="#icon-logo"></use>
          </svg>
          IMPACT
        </h1>
      </a>
    </div> -->
  </div>
</header>
