<header class="navbar navbar-inverse navbar-fixed-top opaqued">
  <!-- <app-search></app-search> -->

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" [routerLink]="'/'">
        <h1>
          <svg class="icon icon--logo">
            <use xlink:href="#icon-logo"></use>
          </svg>
          IMPACT
        </h1>
      </a>
    </div>
    <!--    <app-nav></app-nav>-->
    <app-search></app-search>
  </div>
</header>
