<header class="navbar navbar-inverse navbar-fixed-top opaqued">
  <div class="container-fluid">
    <div class="navbar-header">
      <mat-icon class="navbar-toggle" (click)="toggleMenu.emit()">menu</mat-icon>

      <a class="navbar-brand" [routerLink]="'/'">
        <h1>
          <svg class="icon icon--logo">
            <use xlink:href="#icon-logo"></use>
          </svg>
          IMPACT
        </h1>
      </a>
    </div>
    <!--    <app-nav></app-nav>-->
    <app-search></app-search>
  </div>
</header>
