.header {
  width: 100%;
  display: flex;
  max-height: 60px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  color: #a64bf4;

  &-wrapper {
    display: flex;
    row-gap: 8px;
  }

  &__icon {
    height: 36px;
    width: 36px;
  }

  &__text {
    font-size: 32px;
  }
}
