<div class="auth-form">
  <h4 class="title text-center mt-2 mb-2">Reset password</h4>
  <form [formGroup]="form">
    <app-input
      formControlName="email"
      [label]="'Email'"
      [placeholder]="'Type your email'"
      [iconName]="'mail'"
      [control]="email"
      [type]="'email'"
    ></app-input>

    <div class="d-flex justify-content-between mt-2 mb-5">
      <span class="auth-link">Already have account? <a [routerLink]="'../login'">Login</a></span>
    </div>
    <app-auth-submit-button (submit)="onSubmit()">Reset</app-auth-submit-button>
  </form>

  <app-loader *ngIf="loading$ | async"></app-loader>
</div>
