<div class="auth-form">
  <h4 class="title text-center mt-2 mb-2">Registration</h4>
  <form [formGroup]="form">
    <app-input
      formControlName="username"
      [label]="'Name'"
      [placeholder]="'Type your username'"
      [iconName]="'person'"
      [control]="username"
      class="mb-4"
    ></app-input>

    <app-input
      formControlName="email"
      [label]="'Email'"
      [placeholder]="'Type your email'"
      [iconName]="'mail'"
      [control]="email"
      [type]="'email'"
      class="mb-4"
    ></app-input>

    <app-input
      formControlName="password"
      [label]="'Password'"
      [placeholder]="'Type your password'"
      [iconName]="'lock'"
      [type]="'password'"
      [control]="password"
    ></app-input>

    <div class="d-flex justify-content-between mt-2 mb-5">
      <span class="auth-link">Already have account? <a [routerLink]="'../login'">Login</a></span>
    </div>
    <app-auth-submit-button (submit)="onSubmit()">Register</app-auth-submit-button>

    <app-auth-social-icons></app-auth-social-icons>
  </form>
</div>
