<div class="auth-form">
  <h4 class="title text-center mt-2 mb-2">Set new password</h4>
  <form [formGroup]="form">
    <app-input
      formControlName="password"
      [label]="'Password'"
      [placeholder]="'Type your password'"
      [iconName]="'lock'"
      [type]="'password'"
      [control]="password"
      class="mb-4"
    ></app-input>

    <app-input
      formControlName="confirmPassword"
      [label]="'Confirm password'"
      [placeholder]="'Confirm new password'"
      [iconName]="'lock'"
      [type]="'password'"
      [control]="confirmPassword"
      class="mb-5"
    ></app-input>

    <app-auth-submit-button (submit)="onSubmit()">Submit</app-auth-submit-button>
  </form>

  <app-loader *ngIf="loading$ | async"></app-loader>
</div>
